nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

nav ul li a:hover {
  color: #1890ff;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.cart-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.cart-icon {
  font-size: 24px; /* Adjust size of cart icon */
  margin-right: 8px;
}

.cart-item-count {
  background-color: #f02b2e;
  color: #fff;
  border-radius: 70%;
  padding: 0 8px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 0.25rem;
}

.wishlist-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.wishlist-icon {
  font-size: 28px; /* Increase size of heart icon */
  margin-right: 8px;
  color: #000; /* Change color to black */
}

.wishlist-item-count {
  background-color: #f02b2e;
  color: #fff;
  border-radius: 70%;
  padding: 0 8px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 0.25rem;
}
